main { padding: 48px; }

.carousel, .carousel img { border-radius: 8px; }

.carousel a { color: white }

.main-news-container{
    position: relative;
    display: grid;
    gap: 5%;
    grid-template-columns: 55% 40%;
    padding: 4px 0;
}


/*Noticias da esquerda */
.left-news-container { display: flex; flex-direction: column; height: 100%; }
.left-news-container .news{
    position: relative;
    width: 100%;
    height: 270px;
    margin-bottom: 38px;
    overflow: hidden;
    border-radius: 8px;
}
.left-news-container .news:hover { box-shadow: 2px 4px 10px rgba(0, 0, 0, .5); } 
.left-news-container .news img { width: 100%; height: 100%; border-radius: 8px; }
.left-news-container .news .text-block {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    color: var(--light);
    background: rgba(0, 0, 0, 0.5); 
    padding: 0 20px;
    letter-spacing: 1px;
}
.left-news-container .news .text-block .category { font-size: 8pt; padding: 2px; border-radius:5px; color: var(--light); background: var(--accent); display: inline-block }
.left-news-container .news .text-block .title { font-size: 15pt;}
.left-news-container .news .text-block .date { float: right; font-size: 7pt;  }


/*Noticias da direita*/
.right-news-container { display: flex; flex-direction: column; height: 100%; } 
.right-news-container .news { transition: 0.5s; margin-bottom: 26px; height: 150px; width: 100%; border-radius: 8px;}
.right-news-container .news:hover { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }
.right-news-container .news img { width: 40%; height: 100%; float: left; border-radius: 5px 0 0 5px; }

/*Noticias depois do anuncio*/
.center-news-container { display: grid; grid-template-columns: 30% 30% 30%; gap: 5%; padding: 48px; }
.center-news-container .news { transition: 0.5s; height: 330px; width: 100%; border-radius: 8px; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }
.center-news-container .news:hover .content .category { text-decoration: underline }
.center-news-container .news img { width: 100%; height: 170px; border-radius: 8px 8px 0 0; }
.center-news-container .news .content {float: none; width: 100%}


.news .content { padding: 10px 15px; text-align: left; height: 100%; float: right; width: 60%}
.news .content .category { font-size: 9pt; color: var(--accent); }
.news .content .title { font-size: 12pt;  }
.news .content .source { font-size: 7pt;  letter-spacing: 1px; }